body{
    background-color: coral;
    display: flex;
    height: 100vh;
}

.mobie, .table, .desktop{
    margin: auto;
    color: aliceblue;
    font-size: 50px;
    display: none;
}

/* Mobie: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .mobie{
        display: block;
        color: blue;
    }
}
/* Tablet: width >= 740  and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .table{
        display: block;
        color: blanchedalmond;
    }
}
/* Desktop: width >= 1024px */
@media only screen and (min-width: 64em){
    .desktop{
        display: block;
       
    }
}