*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    background-color: #f2f2f2;
    margin: 20px 68.6px;
    padding: 30px 0 100px 0;
    text-align: center;
}

/* CHÚ Ý ĐOẠN CODE CĂN CHỈNH ICON NÀY */
.main .icon{
    line-height: 62px;  /**/
    height: 56px;
    border: 2px solid #5ac6d0;
    border-radius: 50%;
    display: inline-block;
    padding: 0 16px;
    margin-bottom: 35px;
}

.icon-email{
    color: #5ac6d0;
    font-size: 24px;
}

.title{
   font-size: 40px;
   margin-bottom: 30px;
}

.content{
   font-size: 16px;
   margin-bottom: 25px;
}

.email{
    margin-bottom: 16px;
}

.email input{
    width: 360px;
    font-size: 17px;
    padding: 20px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.button button{
    line-height: 60px;
    padding: 0 30px;
    font-size: 14px;
    background-color: #70cbce;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.button button:hover{
    background-color: #de4a1e;
    cursor: pointer;
}
